@charset "utf-8";

html {
  box-sizing: border-box;
  /* 1 */
  font-family: sans-serif;
  // font-size基础值
  font-size: 62.5%;

}

body,
button,
input,
select,
textarea {
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  outline: none;
  -webkit-outline: none;
  border: 0 none;

  &:focus {
    outline: none !important;
    -webkit-outline: none !important;
  }
}

body {
  // 重置font-size基础值
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */
body,
html,
dt,
dl,
dd,
figure,
header,
nav,
main,
section,
aside,
article,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
pre,
textarea {
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

// 对齐方式 ⭐
img {
  vertical-align: middle;
  border: none;
}

// 清除a标签默认样式
a {
  // 移动端点击背景高亮
  -webkit-tap-highlight-color: transparent;
  color: #000;
  text-decoration: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// html5新增的元素设置为display：block;

figure,
header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}





/*
  工具类  Start
*/

// 清除浮动 
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

// 对齐方式  

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

//浮动

.fl {
  float: left;
}

.fr {
  float: right;
}

/*
  工具类  End
*/