@charset 'utf-8';
@import './base.scss';
@import './mixin.scss';

// 公共变量
$width: 100rem;
$color1: #6db6ff;
$boxs: border-box;

body {
  // 调试用的
  margin-bottom: 200px;
}

//头部模块样式 Start

header {
  width: $width;
  border-top: 2.4rem solid $color1;
  margin: 0 auto;
  padding: 3.8rem 7.6rem 1.5rem 7.3rem;

  // logo
  h1 {
    width: 12.1rem;
    height: 6.3rem;

    a {
      display: block;
      width: inherit;
      height: inherit;
      background: url('../assets/images/logo.png') no-repeat 0 0;
      background-size: cover;
      text-indent: -1000rem;
    }
  }

  // 导航条
  nav {
    margin-top: 3.1rem;

    ul {
      margin-right: 4.9rem;
      margin-top: .4rem;

      li {
        float: left;
        font-size: 1.4rem;

        &:not(:last-of-type) {
          margin-right: 1.8rem;
        }

        // 使用伪对象的方式天添加底部下划线
        &:first-child {
          &:after {
            @include underline(60%, .1rem, #828282);
          }
        }

        // 添加底部下划线
        &:hover {
          &:after {
            @include underline(60%, .1rem, #828282);
          }
        }
      }
    }

    // 搜索框
    .search {
      position: relative;

      input {
        box-sizing: $boxs;
        border: .1rem solid #000;
        padding: .4rem 2.7rem .3rem .8rem;
      }

      i {
        position: absolute;
        right: .7rem;
        top: .7rem;
        font-size: 1.4rem;
        cursor: pointer;
      }
    }
  }
}

// banner模块 Start
.banner_wrap {
  width: $width;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  .banner_list {
    width: $width;
    height: 40rem;
    position: relative;
    @include setBgImage('../assets/images/banner_01.jpg', no-repeat, 0 0, cover);

    span {
      color: #395571;
      font-size: 3.2rem;
      letter-spacing: 7px;
      @include posTL(absolute, 13.3rem, 42.7rem);

      &:first-child {
        @include posTL(absolute, 8.2rem, 28.2rem);
      }

      &:last-child {
        @include posTL(absolute, 16.2rem, 58.7rem);
      }
    }
  }

  // 按钮 
  .banner_list_btn {
    display: flex;
    position: absolute;
    bottom: .7rem;
    left: 50%;
    transform: translateX(-50%);

    li {
      flex: 1 0 auto;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #395674;
      border-radius: 50%;

      &.selected {
        background-color: #7f5819;

        &+li {
          margin: 0 1rem 0 1.2rem;
        }
      }
    }
  }
}

// 关于我们模块 Start
.about_wrap {
  width: $width;
  margin: 0 auto;

  // 标题
  .about_title {
    width: 14.5rem;
    box-sizing: $boxs;
    border: .1rem solid #6db6ff;
    margin: 2.6rem auto 2.1rem;
    text-align: center;

    .t_wrap {
      display: inline-block;
      background-color: #fff;
      padding: 0 .4rem;
      margin-top: -1.8rem;

      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }
  }

  // 介绍
  .about_dec {
    display: flex;
    justify-content: space-between;
    li {
      width: 32.2rem;
      background-color: #f2f2f2;
      box-sizing: $boxs;
      text-align: center;
      padding: 1.8rem 1.1rem 2rem 1.2rem;
      .dec_t {
        margin-top: 1.7rem;
        span {
          display: block;
          font-size: 1.6rem;
          &.to_upercase {
            text-transform: uppercase;
            margin-top: .9rem;
            margin-bottom: 1.6rem;
          }
        }
      }
      p {
        color: #999;
        font-size: 1.2rem;
        line-height: 2.5rem;
        text-align: left;
      }
    }
  }

}