@charset 'utf-8';

// 添加底部下划线
@mixin underline ($w, $h, $bgc) {
  content: '';
  display: block;
  width: $w;
  height: $h;
  background-color: $bgc;
  margin-top: .7rem;
  margin: .7rem auto 0;
}

// 设置位置
@mixin posTL($posType, $t_v, $l_f) {
  position: $posType;
  top: $t_v;
  left: $l_f;
}

// 设置背景图的一个@mixin 命令

@mixin setBgImage($url, $repeat, $position, $size) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

// 小标题公共样式
@mixin publicM($bgc, $mt, $mb, $t) {
  // .title {
  //   width: 14.5rem;
  //   box-sizing: $boxs;
  //   color: $color;
  //   text-align: $center;
  //   margin: $mt auto $mb;
  //   padding-bottom: .2rem;

  //   @include setBgImage('../assets/images/border.png', no-repeat, 0 0, 14.5rem 3.6rem);

  //   h3 {
  //     position: relative;
  //     top: -1.2rem;
  //     display: inline-block;
  //     font-size: 2.4rem;
  //     margin-left: .4rem;
  //   }

  //   p {
  //     font-size: 1.4rem;
  //     text-transform: uppercase;
  //     margin-top: -1.2rem;
  //   }
  // }

  .title_wrap {
    position: relative;
    width: 14.5rem;
    height: 3.6rem;
    margin: $mt auto $mb;
    border: .1rem solid #6db6ff;
    border-top-color: transparent;
    text-align: center;

    &:before,
    &:after {
      position: absolute;
      top: -.1rem;
      height: .1rem;
      background-color: #6db6ff;
      content: '';
    }

    &:before {
      width: 2.3rem;
      left: -.05rem;
    }

    &:after {
      width: 2rem;
      right: -.05rem;
    }

    .title {
      margin-top: $t;

      h3 {
        display: inline-block;
        background-color: $bgc;
        font-size: 2.2rem;
        padding: 0 .4rem;
      }
    }

    p {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

}

// a标签 :hover 伪类
@mixin Hover {
  &:hover {
    text-decoration: underline;
  }
}

@mixin setPadding($t, $r, $b, $l) {
  padding: $t $r $b $l;
}