@charset "UTF-8";
html {
  box-sizing: border-box;
  /* 1 */
  font-family: sans-serif;
  font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
  font-family: tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */
body,
html,
dt,
dl,
dd,
figure,
header,
nav,
main,
section,
aside,
article,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
pre,
textarea {
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border: 0 none;
}

a {
  -webkit-tap-highlight-color: transparent;
  color: #000;
  text-decoration: none;
}

input,
textarea {
  outline: none;
  border: 0 none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure,
header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

/*
  工具类  Start
*/
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*
  工具类  End
*/
body {
  margin-bottom: 200px;
}

header {
  width: 100rem;
  border-top: 2.4rem solid #6db6ff;
  margin: 0 auto;
  padding: 3.8rem 7.6rem 1.5rem 7.3rem;
}
header h1 {
  width: 12.1rem;
  height: 6.3rem;
}
header h1 a {
  display: block;
  width: inherit;
  height: inherit;
  background: url("../assets/images/logo.png") no-repeat 0 0;
  background-size: cover;
  text-indent: -1000rem;
}
header nav {
  margin-top: 3.1rem;
}
header nav ul {
  margin-right: 4.9rem;
  margin-top: 0.4rem;
}
header nav ul li {
  float: left;
  font-size: 1.4rem;
}
header nav ul li:not(:last-of-type) {
  margin-right: 1.8rem;
}
header nav ul li:first-child:after {
  content: "";
  display: block;
  width: 60%;
  height: 0.1rem;
  background-color: #828282;
  margin-top: 0.7rem;
  margin: 0.7rem auto 0;
}
header nav ul li:hover:after {
  content: "";
  display: block;
  width: 60%;
  height: 0.1rem;
  background-color: #828282;
  margin-top: 0.7rem;
  margin: 0.7rem auto 0;
}
header nav .search {
  position: relative;
}
header nav .search input {
  box-sizing: border-box;
  border: 0.1rem solid #000;
  padding: 0.4rem 2.7rem 0.3rem 0.8rem;
}
header nav .search i {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.banner_wrap {
  width: 100rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.banner_wrap .banner_list {
  width: 100rem;
  height: 40rem;
  position: relative;
  background-image: url("../assets/images/banner_01.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.banner_wrap .banner_list span {
  color: #395571;
  font-size: 3.2rem;
  letter-spacing: 7px;
  position: absolute;
  top: 13.3rem;
  left: 42.7rem;
}
.banner_wrap .banner_list span:first-child {
  position: absolute;
  top: 8.2rem;
  left: 28.2rem;
}
.banner_wrap .banner_list span:last-child {
  position: absolute;
  top: 16.2rem;
  left: 58.7rem;
}
.banner_wrap .banner_list_btn {
  display: flex;
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.banner_wrap .banner_list_btn li {
  flex: 1 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #395674;
  border-radius: 50%;
}
.banner_wrap .banner_list_btn li.selected {
  background-color: #7f5819;
}
.banner_wrap .banner_list_btn li.selected + li {
  margin: 0 1rem 0 1.2rem;
}

.about_wrap {
  width: 100rem;
  margin: 0 auto;
}
.about_wrap .about_title {
  width: 14.5rem;
  box-sizing: border-box;
  border: 0.1rem solid #6db6ff;
  margin: 2.6rem auto 2.1rem;
  text-align: center;
}
.about_wrap .about_title .t_wrap {
  display: inline-block;
  background-color: #fff;
  padding: 0 0.4rem;
  margin-top: -1.8rem;
}
.about_wrap .about_title .t_wrap h3 {
  font-size: 2.4rem;
}
.about_wrap .about_title .t_wrap p {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.about_wrap .about_dec {
  display: flex;
  justify-content: space-between;
}
.about_wrap .about_dec li {
  width: 32.2rem;
  background-color: #f2f2f2;
  box-sizing: border-box;
  text-align: center;
  padding: 1.8rem 1.1rem 2rem 1.2rem;
}
.about_wrap .about_dec li .dec_t {
  margin-top: 1.7rem;
}
.about_wrap .about_dec li .dec_t span {
  display: block;
  font-size: 1.6rem;
}
.about_wrap .about_dec li .dec_t span.to_upercase {
  text-transform: uppercase;
  margin-top: 0.9rem;
  margin-bottom: 1.6rem;
}
.about_wrap .about_dec li p {
  color: #999;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: left;
}

/*# sourceMappingURL=index.css.map */
