@charset 'utf-8';
@import '../base.scss';
@import '../mixin.scss';

//头部模块样式 Start
header {
  width: 100rem;
  border-top: 2.4rem solid #6db6ff;
  margin: 0 auto;
  position: relative;
  @include setPadding(3.8rem, 7.6rem, 1.5rem, 7.3rem);

  // login、register button
  .btn_w {
    position: absolute;
    top: -2rem;
    font-size: 1.2rem;
    right: 1rem;

    a {
      font-weight: bold;
      color: #fff;

      &:hover {
        color: #555;
      }
    }
  }

  // logo
  h1 {
    width: 12.1rem;
    height: 6.3rem;

    a {
      display: block;
      width: inherit;
      height: inherit;
      background: url('../../assets/images/logo.png') no-repeat 0 0;
      background-size: cover;
      text-indent: -1000rem;
    }
  }

  // 导航条
  nav {
    margin-top: 3.1rem;

    ul {
      margin-right: 4.9rem;
      margin-top: .4rem;

      li {
        float: left;
        font-size: 1.4rem;

        &:not(:last-of-type) {
          margin-right: 1.8rem;
        }

        // 使用伪对象的方式天添加底部下划线
        &:first-child {
          &:after {
            @include underline(60%, .1rem, #828282);
          }
        }

        // 添加底部下划线
        &:hover {
          &:after {
            @include underline(60%, .1rem, #828282);
          }
        }
      }
    }

    // 搜索框
    .search {
      position: relative;
      opacity: .8;
      filter: alpha(opacity=80);

      input {
        box-sizing: border-box;
        border: .1rem solid rgba(0, 0, 0, .5);
        border-radius: .2rem;
        font-size: 1.4rem;
        @include setPadding(.4rem, 2.5rem, .3rem, .8rem);

        &:hover {
          border-color: rgba(0, 0, 0, 1);
          filter: alpha(opacity=100);
        }
      }

      i {
        position: absolute;
        right: .7rem;
        top: .7rem;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover {
          color: #6db6ff;
        }
      }
    }
  }
}